/*
 * $Id: style.css,v 1.3 2006-11-08 01:41:42 cholm Exp $
 *
 * style.css
 * Copyright (C) 2003  Christian Holm <cholm@linux.HAL3000>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public License
 * as published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
 * USA
 */
body			{ background		: white;
                          color                 : black; 
                          font-family           : helvetica, sans-serif }
h1			{ text-align		: center; 
                          border-bottom		: solid gray thin; }
caption			{ font-weight		: bold }
address			{ font-size  		: small; 
                          padding-left 		: 1cm; 
                          padding-right		: 1cm; 
                          border-top  		: solid gray thin; }
hr                      { color			: gray }
a:hover			{ text-decoration	: none; 
                          color			: #0000dd;
                          background-color	: #f2f2ff }
a:link			{ text-decoration	: none; 
                          color      		: #0000dd }
a:visited		{ text-decoration	: none; 
                          color      		: #0000dd }

/* Navigation bar - not here */
div.nav    		{ text-decoration	: none; 
                          color   	   	: #0000dd }
div.navtab 		{ background-color	: #f2f2ff }
td.navtab  		{ font-size		: 70% }
/* Links in the nav bar, and */
/* a.qindex		{} */
/* a.qindex:visited	{} */
/* a.qindex:hover	{} */
/* a.qindexHL		{} */
/* a.qindexHL:visited	{} */
/* a.qindexHL:hover	{} */
/* a.qindexRef		{} */

/* Element in Group index, Group listing, Class in Member list, */ 
/* Member in class listing,  Group in class listing, File in class */
/* listing, reference in member documentation, full member listing */
a.el			{ text-decoration	: none; 
                          font-size		: normal;
			  font-family           : monospace;  }
                          /* font-weight		: bold } */
a.elRef			{ font-family          	: monospace;
                          font-size		: small;
                          /* font-weight		: bold  */ }

/* Links in code listing to docs */
a.code			{ text-decoration	: none; 
                          font-family           : monospace;
                          font-size		: normal;
                          /* font-weight		: normal;*/ 
                          color			: #0000dd }
a.codeRef		{ font-weight		: normal; 
                          color			: #0000dd }

/* Element in Alpabetic index, Annotated index,  */
dl.el			{ margin-left		: -1cm }

/* witin @code, source file listing, header file listing */ 
div.fragment		{ width			: 100%; 
                          padding               : 3pt 3pt 3pt 3pt;
                          margin                : 3pt; 
                          border                : thin solid gray; 
                          /* border		: none; */
                          /* background-color	: #eeeeee; */ }
pre.fragment		{  }

/* Alphabetic index letter markers */
div.ah			{ background-color	: black; 
                          font-family           : monospace;
                          font-family           : monospace;
                          font-size		: small;
                          /* font-weight		: bold; */
                          color			: #ffffff; 
                          margin-bottom		: 3px; 
                          margin-top		: 3px }
div.groupHeader		{ margin		: 16px 12px 6px 0px;
                          font-weight		: bold }
div.groupText		{ margin-left		: 16px;
                          font-style		: italic;
                          font-size		: 90% }


/* Member description table */
tr.memlist		{ background-color	: #f2f2ff }
table.mdTable           { border-top            : solid thin gray;
                          background-color	: #f2f2ff; 
                          font-size		: normal;
                          font-family           : monospace;
                          /* font-weight		: bold; */ }
.mdescleft		{ padding 		: 0px 8px 4px 8px;
                          font-size		: 80%;
                          font-style		: italic; 
                          background-color	: #FAFAFA;
                          border-top		: 1px none #E0E0E0;
                          border-right		: 1px none #E0E0E0;
                          border-bottom		: 1px none #E0E0E0;
                          border-left		: 1px none #E0E0E0;
                          margin		: 0px;}
.memItemRight 		{ padding		: 1px 8px 0px 8px;
                          margin		: 4px;
                          border-top-width	: 1px;
                          border-right-width	: 1px;
                          border-bottom-width	: 1px;
                          border-left-width	: 1px;
                          border-top-color	: #E0E0E0;
                          border-right-color	: #E0E0E0;
                          border-bottom-color	: #E0E0E0;
                          border-left-color	: #E0E0E0;
                          border-top-style	: solid;
                          border-right-style	: none;
                          border-bottom-style	: none;
                          border-left-style	: none;
                          background-color	: #FAFAFA;
                          font-size		: 80%;    }
.memTemplItemLeft 	{ padding		: 1px 0px 0px 8px;
                          margin		: 4px;
                          border-top-width	: 1px;
                          border-right-width	: 1px;
                          border-bottom-width	: 1px;
                          border-left-width	: 1px;
                          border-top-color	: #E0E0E0;
                          border-right-color	: #E0E0E0;
                          border-bottom-color	: #E0E0E0;
                          border-left-color	: #E0E0E0;
                          border-top-style	: none;
                          border-right-style	: none;
                          border-bottom-style	: none;
                          border-left-style	: none;
                          background-color	: #FAFAFA;
                          font-size		: 80%; }
.memTemplItemRight 	{ padding		: 1px 8px 0px 8px;
                          margin		: 4px;
                          border-top-width	: 1px;
                          border-right-width	: 1px;
                          border-bottom-width	: 1px;
                          border-left-width	: 1px;
                          border-top-color	: #E0E0E0;
                          border-right-color	: #E0E0E0;
                          border-bottom-color	: #E0E0E0;
                          border-left-color	: #E0E0E0;
                          border-top-style	: none;
                          border-right-style	: none;
                          border-bottom-style	: none;
                          border-left-style	: none;
                          background-color	: #FAFAFA;
                          font-size		: 80%; }
.memTemplParams 	{ padding		: 1px 0px 0px 8px;
                          margin		: 4px;
                          border-top-width	: 1px;
                          border-right-width	: 1px;
                          border-bottom-width	: 1px;
                          border-left-width	: 1px;
                          border-top-color	: #E0E0E0;
                          border-right-color	: #E0E0E0;
                          border-bottom-color	: #E0E0E0;
                          border-left-color	: #E0E0E0;
                          border-top-style	: solid;
                          border-right-style	: none;
                          border-bottom-style	: none;
                          border-left-style	: none;
                          color			: #606060;
                          background-color	: #FAFAFA;
                          font-size		: 80%; }
/* Style for detailed member documentation */
.memtemplate		{ font-size		: 80%;
                          color			: #606060;
                          font-weight		: normal;} 
.memnav			{ background-color		: #e8eef2;
                          border		: 1px solid #84b0c7;
                          text-align		: center;
                          margin		: 2px;
                          margin-right		: 15px;
                          padding		: 2px;}
.memitem		{ padding		: 4px;
                          background-color		: #eef3f5;
                          border-width		: 1px;
                          border-style		: solid;
                          border-color		: #dedeee;
                          moz-border-radius	: 8px 8px 8px 8px;}
.memname		{ white-space		: nowrap;
                          font-weight		: bold; }
.memdoc			{ padding-left		: 10px;}
.memproto		{ background-color	: #d5e1e8;
                          width			: 100%;
                          border-width		: 1px;
                          border-style		: solid;
                          border-color		: #84b0c7;
                          font-weight		: bold;
                          moz-border-radius	: 8px 8px 8px 8px; }
.paramkey		{ text-align		: right; }
.paramtype		{ white-space		: nowrap; }
.paramname		{ color			: #602020;
                          font-style		: italic;
                          white-space		: nowrap; }
/* End Styling for detailed member documentation */
/* Member description table */
td.mdRow                { background-color	: #f2f2ff; 
                          font-size		: normal;
                          font-family           : monospace;
                          /* font-weight		: bold; */ }
/* Cell in member description - not arguments */
td.md			{ background-color	: #f2f2ff; 
                          font-size		: normal;
                          font-family           : monospace;
                          /* font-weight		: bold; */ }
/* Cell in member description - 1st argument */
td.mdname1		{ background-color	: #f2f2ff; 
                          font-family           : monospace;
                          font-style		: italic; 
                          font-size		: normal;
                          /* font-weight		: bold;*/ 
                          color			: #602020; }
/* Cell in member description - subsequent arguments */
td.mdname		{ background-color	: #f2f2ff; 
                          font-family           : monospace;
                          font-size		: normal;
                          font-style		: italic; 
                          /* font-weight		: bold;*/
                          color			: #602020; 
                          width			: 600px; }
/* Member (function) type */
td.memItemLeft          { font-family           : monospace;
                          font-size             : normal; }
/* Member (function) name and parameters */
td.memItemRight         { font-family           : monospace;
                          font-size             : normal; }

/* Grou headings and text */
div.groupHeader		{ margin-left		: 16px; 
                          margin-top		: 12px; 
                          margin-bottom		: 6px; 
                          font-weight		: bold }
div.groupText		{ margin-left		: 16px; 
                          font-style		: italic; 
                          font-size		: smaller }
/* Cell in Annotated index, File list - key */
td.indexkey		{ background-color	: #eeeeff; 
                          color			: white; 
                          font-weight		: bold; 
                          padding-right		: 10px; 
                          padding-top		: 2px; 
                          padding-left		: 10px; 
                          padding-bottom	: 2px; 
                          margin-left		: 0px; 
                          margin-right		: 0px; 
                          margin-top		: 2px; 
                          margin-bottom		: 2px  }
/* Cell in Annotated index, File list - value */
td.indexvalue		{ background-color	: #eeeeff; 
                          font-style		: italic; 
                          padding-right		: 10px; 
                          padding-top		: 2px; 
                          padding-left		: 10px; 
                          padding-bottom	: 2px; 
                          margin-left		: 0px; 
                          margin-right		: 0px; 
                          margin-top		: 2px; 
                          margin-bottom		: 2px  }

/* These are for the source listings */ 
font.comment		{ color			: #b22222; }
font.preprocessor	{ color			: #da70d6; }
font.keyword		{ color			: #a020f0; font-weight: bold }
font.keywordtype	{ color			: #228b22; }
font.keywordflow	{ color			: #a020f0; font-weight: bold }
font.stringliteral	{ color			: #bc8f8f; }
font.charliteral	{ color			: #bc8f8f; }
font.variable		{ color			: #b8860b; }

span.comment		{ color			: #b22222; }
span.preprocessor	{ color			: #da70d6; }
span.keyword		{ color			: #a020f0; font-weight: bold }
span.keywordtype	{ color			: #228b22; }
span.keywordflow	{ color			: #a020f0; font-weight: bold }
span.stringliteral	{ color			: #bc8f8f; }
span.charliteral	{ color			: #bc8f8f; }
span.variable		{ color			: #b8860b; }

/* Search */
.search     		{ color			: #003399;
                          font-weight		: bold; }
FORM.search 		{ margin-bottom		: 0px;
                          margin-top		: 0px; }
INPUT.search 		{ font-size		: 75%;
                          color			: #000080;
                          font-weight		: normal;
                          background-color	: #e8eef2;}

/* for the tree view */
.ftvtree 		{ font-family		: sans-serif;
                          margin		:0.5em; }
.directory 		{ font-size		: 9pt; 
                          font-weight		: bold; }
.directory h3 		{ margin		: 0px; 
                          margin-top		: 1em; 
                          font-size		: 11pt; }
.directory > h3 	{ margin-top		: 0; }
.directory p 		{ margin		: 0px; 
                          white-space		: nowrap; }
.directory div 		{ display		: none; 
                          margin		: 0px; }
.directory img 		{ vertical-align	: -30%; }

/* My stuff */
table.top               { width                 : 100%; 
                          vertical-align        : top; }
table.nav               { height                : 100%;  }
span.seperator          { width                 : 100%;
                          background-color      : #d2d2dd; 
                          border-top            : thin solid gray; }
td.separator            { width                 : 100%; 
                          padding               : 0pt 0pt 0pt 0pt;
                          margin                : 0 0 0 0; 
                          background-color      : #d2d2dd; 
                          border-top            : thin solid gray; }
td.documentation        { width                 : 90%; 
                          padding               : 5pt 5pt 5pt 5pt; 
                          margin                : 0 0 0 0; 
                          vertical-align        : top; }
td.nav                  { padding               : 5pt 5pt 5pt 5pt; 
                          margin                : 0 0 0 0;
                          white-space           : nowrap; 
                          background-color	: #f2f2ff;
                          vertical-align        : top; }
td.navel                { padding               : 2pt 2pt 2pt 2pt;
                          margin                : 0 0 0 0; }
a.qindex:hover		{ text-decoration	: none; 
                          font-weight           : bold;
                          color			: #0000ff;
                          background-color	: #f2f2ff; }
a.qindex:link		{ text-decoration	: none; 
                          color      		: #0000dd;
                          background-color      : #f2f2ff;
a.qindex:visited	{ text-decoration	: none; 
                          color      		: #0000dd }
tt                      { font-size             : smaller;   
                          font-family           : monospace, fixed, courier }
/* Formulas */
p.formulaDsp		{ text-align		: center }
img.formulaDsp		{  }
img.formulaInl		{ vertical-align	: middle }


/*
 * EOF
 */
